<h1>Currency Converter</h1>

<form action="/convert">
  <label for="amountLabel">Amount</label>
  <input type="number" step="any" name="amount" id="amount" required/>
<br><br>
  <label for="from_currency">Convert from</label>
  <select name="from_currency" id="from_currency">
    <option value="EUR">Euros</option>
    <option value="JPY">Japanese Yen</option>
    <option value="USD">US Dollars</option>
  </select>
  <br>

  <br>

  <label for="to_currency">Convert to</label>
  <select name="to_currency" id="to_currency">
    <option value="EUR">Euros</option>
    <option value="JPY">Japanese Yen</option>
    <option value="USD">US Dollars</option>
  </select>

  <br><br>

  <button id="butt" button type="submit">Convert</button>

</form>
