<!DOCTYPE html>
<html>
  <head>
    <title>Currency Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <p><a href="/">Home Page</a></p>
    <p><a href="/about">About this site</a></p>
  </body>
</html>
